aiodns==4.0.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
async-lru==2.1.0
attrs==25.4.0
av==16.1.0
backoff==2.2.1
bcrypt==5.0.0
build==1.4.0
ccxt==4.5.33
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
chromadb==1.4.1
click==8.3.1
coincurve==21.0.0
coloredlogs==15.0.1
cryptography==46.0.3
ctranslate2==4.6.3
decorator==5.2.1
distro==1.9.0
duckdb==1.4.3
durationpy==0.10
ecdsa==0.19.1
fastapi==0.128.0
faster-whisper==1.2.1
filelock==3.20.3
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.1.0
gitdb==4.0.12
gitpython==3.1.46
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4
google-cloud-bigquery==3.40.0
google-cloud-billing-budgets==1.19.0
google-cloud-core==2.5.0
google-cloud-dialogflow-cx==2.2.0
google-cloud-discoveryengine==0.16.0
google-crc32c==1.8.0
google-genai==1.59.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.1
httptools==0.7.1
httpx==0.28.1
huggingface-hub==1.3.2
humanfriendly==10.0
idna==3.11
imageio==2.37.2
imageio-ffmpeg==0.6.0
importlib-metadata==8.7.1
importlib-resources==6.5.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kubernetes==35.0.0
loguru==0.7.3
markdown-it-py==4.0.0
mdurl==0.1.2
mmh3==5.2.0
moviepy==2.2.1
mpmath==1.3.0
multidict==6.7.0
numpy>=1.26.0,<3.0.0
oauthlib==3.3.1
onnxruntime==1.23.2
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
orjson==3.11.5
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pillow==11.3.0
polars==1.37.1
polars-runtime-32==1.37.1
posthog==5.4.0
proglog==0.1.12
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.4
psutil==7.2.1
pyasn1==0.6.2
pyasn1-modules==0.4.2
pybase64==1.4.3
pycares==5.0.1
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pydub==0.25.1
pygments==2.19.2
pyparsing==3.3.1
pypika==0.50.0
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-telegram-bot==22.5
pytz==2025.2
pyyaml==6.0.3
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rpds-py==0.30.0
rsa==4.9.1
schedule==1.2.2
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.50.0
sympy==1.14.0
tenacity==9.1.2
tokenizers==0.22.2
tqdm==4.67.1
tweepy==4.16.0
typer==0.21.1
typer-slim==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
websocket-client==1.9.0
websockets==15.0.1
yarl==1.22.0
zipp==3.23.0
pytest
pytest-asyncio
